<section class="product-detail-container" *ngIf="!isLoading"> 
    <div class="product-detail">
      <div class="product-detail-picture">
        <img class="product-detail-image" src="{{productDetail.picture}}">
      </div>
      <div class="product-detail-information">
        <span class="product-detail-condition">
          {{productDetail.condition | productCondition }} - {{productDetail.sold_quantity}} vendidos
        </span>
        <div class="product-detail-title">
          {{productDetail.title}}
        </div>
        <span class="product-detail-price">
          {{productDetail.price.currency | productCurrency}} {{productDetail.price.amount}}
          <sup>00</sup>
        </span>
        <a class="product-detail-buy">Comprar!</a>
      </div>
      <div class="product-detail-description">
        <h2>Descripcion</h2>
        <div class="product-detail-description-text">
          {{productDetail.description}}
        </div>
      </div>
    </div>
</section>