@import '../../../base';

.search-category-path {
  padding: 0 10%;
  color: $ml-search-category-path-color;
  font-size: $ml-search-detail-category-font-size;
  list-style-type: none;
  margin: 16px 0;

  .path-category {
    display: inline-block;
    padding-right: 5px;

    &::after {
      padding-left: 5px; 
      content: ">";
    }

    &:last-child {
      font-weight: bold;
      &:after {
        content: "";
      }
    }
  }
}
